doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title Pattern Library
    meta(content='width=device-width,minimum-scale=1,maximum-scale=1', name='viewport')
    link(href='stylesheets/application.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/styleguide.css', rel='stylesheet', type='text/css')

    script.
      document.addEventListener('DOMContentLoaded', function(){
        var elements = document.querySelectorAll('[data-class-toggle]');

        Array.prototype.forEach.call(elements, function(el, i) {
          var classToToggle = el.getAttribute('data-class-toggle');
          var elToToggle = document.querySelector(el.getAttribute('data-element'));

          el.addEventListener('click', function(e) {
            var method = elToToggle.classList.contains(classToToggle) ? 'remove' : 'add';
            elToToggle.classList[method](classToToggle);
            e.stopPropagation();
            e.preventDefault();
          });
        });
      });

  body
    mixin lorem(count)
      each line in loop(count)
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    mixin block(title, cssClass)
      section.block
        .wrap: h6.block__header
          span.heading #{title}
          if cssClass
            span.code: code #{cssClass}
        .block__body
          block

    mixin variables
      .block__variables: .wrap
        block

    mixin example(title, cssClass, dontWrap)
      if title
        .block__variant
          .variant
            .wrap: .variant__header
              span.heading #{title}
              if cssClass
                span.code: code #{cssClass}
            .variant__body
              div(class=(dontWrap ? '' : 'wrap'))
                block
      else
        .block__example
          div(class=(dontWrap ? '' : 'wrap'))
            block

    .hero
      .wrap
        .hero__body
          .hero__body__inner
            .hero__heading Stylesheets
            .hero__text
              p Non-intrusive, reusable BEM components
            p.hero__actions
              a.button.button--primary.button--huge.gamma(href='http://github.com/stefanoverna/stylesheets') Browse on Github

    +block("Grid layout", ".grid")

      +variables
        pre.
          $grid-gutter: 24px
          $grid-push: true
          $grid-pull: true
          $grid-cols: 12
          $grid-breakpoints: desk

      mixin some-grid-items
        each col in loop(4)
          .grid__item.width--3-12
            .blurb= col

      mixin grid-items-with-different-heights
        each col in loop(4)
          .grid__item.width--3-12
            .blurb
              each line in loop(col)
                p Foo

      +example("Non responsive columns", ".width--x-y")
        .grid
          each col in loop(6)
            .grid__item.width--2-12
              .blurb= col

      +example("Responsive columns", ".breakpoint--x-y")
        .grid
          each col in loop(12)
            .grid__item.width--4-12.desk--1-12
              .blurb--with-margin= col

      +example("Shiftable columns", ".(push|pull)--x-y")
        .grid
          .grid__item.width--3-12.push-3-12
            .blurb First
          .grid__item.width--3-12.pull-3-12
            .blurb Last

      +example("Responsive shiftable columns", ".breakpoint--(push|pull)-x-y")
        .grid
          .grid__item.width--3-12.push-3-12.desk--push-0
            .blurb First
          .grid__item.width--3-12.pull-3-12.desk--pull-0
            .blurb Last

      +example("Reverse ordering", ".grid--rev")
        .grid--rev
          +some-grid-items

      +example("Half gutter", ".grid--narrow")
        .grid--narrow
          +some-grid-items

      +example("Double gutter", ".grid--wide")
        .grid--wide
          +some-grid-items

      +example("Aligned to bottom", ".grid--bottom")
        .grid--bottom
          +grid-items-with-different-heights

      +example("Vertically centered", ".grid--middle")
        .grid--middle
          +grid-items-with-different-heights

      +example("Horizontally centered", ".grid--center")
        .grid--center
          .grid__item.width--3-12
            p.blurb One
          .grid__item.width--3-12
            p.blurb Two
          .grid__item.width--3-12
            p.blurb Three

      +example("Right alignment", ".grid--right")
        .grid--right
          .grid__item.width--3-12
            p.blurb One
          .grid__item.width--3-12
            p.blurb Two
          .grid__item.width--3-12
            p.blurb Three

    +block("Vertical spacing", ".space")

      +variables
        pre.
          $vertical-space-unit: 12px
          $space-amounts: 1 2 3 5 8

      each type in ['top', 'bottom', 'both']
        +example(titleize(type), ".space--" + type + "-x")
          .blurb
            div(class="space--"+type+"-3")
              .blurb Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    +block("Selective visibility", ".visible")

      +example("Visibility based on breakpoint")
        each query in ["palm", "lap", "small-desk", "big-desk"]
          .blurb--with-margin(class="visible--on-"+query): code= ".visible--on-"+query

    +block("Maximum layout width", ".wrap")

      +example(false, false, true)
        .wrap
          .blurb: code= ".wrap"

      +example("Wrap based on breakpoint", ".wrap--on-breakpoint", true)
        each query in ["palm", "lap", "small-desk", "big-desk"]
          div(class="wrap--on-"+query)
            .blurb--with-margin: code= ".wrap--on-"+query

    +block("Font size helpers", "")

      +variables
        pre.
          $base-font-size: 16px
          $heading-font-sizes: ('alpha' 30px, 'beta' 25px, 'gamma' 19px)
          $smallprint-font-sizes: ('smallprint' 14px, 'milli' 13px)

      each fontSize in ['alpha', 'beta', 'gamma', 'regular', 'smallprint', 'milli']
        +example(titleize(fontSize), "." + fontSize)
          h6(class=fontSize) Eveniet libero et consequatur sit voluptatibus dignissimos

    +block("Formatted forms", ".form")

      +example
        form.form
          fieldset
            legend Signup
            .form__field.form__field--invalid
              label.form__label Email
              input.form__input--large(placeholder='foo@bar.com', type='email')
              .form__error Invalid email
            .form__field
              label.form__label Password
              input(placeholder='Insert your password', type='password')
              .form__hint Password must be at least 6 chars long

            .form__actions
              input.button.button--primary.button--large(type='submit', value='Create Contact')

    +block("User generated content formatting", ".formatted-content")

      +example
        .formatted-content
          h1 Ullam quaerat repudiandae cupiditate voluptate tempora ducimus deleniti voluptates quae
          p Consectetur deserunt dolorum aut perspiciatis laudantium aut in dolor vitae quia praesentium dolorum rem iusto. expedita quibusdam minus omnis aut occaecati aliquid. deserunt quasi minima saepe voluptate reprehenderit atque eius accusantium nesciunt repellendus explicabo. consequatur laudantium numquam deserunt

          h2 Et minima sit debitis libero assumenda porro explicabo aut debitis
          ul
            li Ut eius tenetur nulla eligendi repellat omnis deserunt blanditiis amet esse. accusantium fuga sequi explicabo aperiam corrupti autem libero omnis dolor. et quis culpa reiciendis nemo aliquam doloremque deleniti eius voluptatem enim earum quaerat saepe non. et minima minima est consequatur officiis eaque unde cupiditate et quos
            li Omnis enim magni voluptatem amet aut ut nam facilis voluptatem eligendi reprehenderit ipsum recusandae soluta. voluptates vero id aliquam debitis repellat quod. molestiae aliquam vel quas magni qui aut saepe nihil perspiciatis sequi. qui consequatur neque ea ullam enim. laborum ipsa maxime rerum enim nihil omnis

          h3 Ut temporibus nihil ex ut
          ol
            li Culpa molestias quos adipisci. maxime quam reiciendis quisquam iusto nemo velit omnis aut. officia quas neque iusto dicta omnis deleniti sit dolorem. voluptate tempora et et eligendi maxime magnam dignissimos
            li Voluptatem ut rerum voluptatum nobis qui sequi perferendis. nisi architecto fugiat et nulla autem magnam dolore recusandae eos suscipit ut accusamus eum velit. id voluptates quaerat suscipit

          table
            thead
              tr
                th #
                th Make
                th Model
                th Year
            tbody
              tr
                td(data-title='#')     1
                td(data-title='Make')  Honda
                td(data-title='Model') Accord
                td(data-title='Year')  2009
              tr
                td(data-title='#')     2
                td(data-title='Make')  Toyota
                td(data-title='Model') Camry
                td(data-title='Year')  2012
              tr
                td(data-title='#')     3
                td(data-title='Make')  Hyundai
                td(data-title='Model') Elantra
                td(data-title='Year')  2010

    +block("Flash messages", ".flash")

      +example("Notice message", ".flash--notice")
        .flash--notice Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod

      +example("Alert message", ".flash--alert")
        .flash--alert Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod

    +block("Hero", ".hero")

      +example
        .hero--primary
          .hero__sticky
            p.blurb Sticky area
          .hero__body
            .hero__body__inner
              .hero__heading Aut aut quibusdam autem
              .hero__text
                p Ipsum autem consequatur eligendi est dolores nihil temporibus iste nam impedit consequatur sit incidunt est dolores fugiat ut saepe sit
              p.hero__actions
                .nav
                  .nav__item
                    a.button.button--rev(href='#') First action
                  .nav__item
                    a.button.button--rev(href='#') Second action

    +block("Buttons", ".button")

      +example("Works with links, buttons and inputs")
        a.button(href='#') Link
        | &nbsp;
        button.button Button
        | &nbsp;
        input.button(type='submit', value='Submit')

      +example("Fill the entire width", ".button--expand")
        a.button--expand(href='#') Button

      +example("Different sizes", ".button--(small|large|huge)")
        a.button--small(href='#') Button
        | &nbsp;
        a.button--large(href='#') Button
        | &nbsp;
        a.button--huge(href='#') Button

      +example("Different colors", ".button--(primary|notice|alert|rev)")
        a.button--primary(href='#') Button
        | &nbsp;
        a.button--notice(href='#') Button
        | &nbsp;
        a.button--alert(href='#') Button
        | &nbsp;
        a.button--rev(href='#') Button

    +block("Formatted, responsive tables", ".table")
      +example
        table.table
          thead
            tr
              th #
              th Make
              th Model
              th Year
              th Owner
          tbody
            tr
              td(data-title='#')     1
              td(data-title='Make')  Honda
              td(data-title='Model') Accord
              td(data-title='Year')  2009
              td(data-title='Owner') Paul Roelm
            tr
              td(data-title='#')     2
              td(data-title='Make')  Toyota
              td(data-title='Model') Camry
              td(data-title='Year')  2012
              td(data-title='Owner') Jack Born
            tr
              td(data-title='#')     3
              td(data-title='Make')  Hyundai
              td(data-title='Model') Elantra
              td(data-title='Year')  2010
              td(data-title='Owner') Mark Fried

    +block("Flag block", ".flag")

      mixin flag-content
        .flag__image
          img(src='http://placehold.it/100x100')
        .flag__body
          p Quam at in repellendus voluptas. Aliquid qui consequuntur harum mollitia debitis voluptatem aut est rem sed natus. Quisquam sint voluptatum itaque libero quo et culpa et assumenda aut sunt ratione rerum. Magni maiores occaecati in voluptatem qui a non quidem enim dolore rerum quibusdam facilis fugit.

      +example
        .flag
          +flag-content

      +example("Aligned at top", ".flag--top")
        .flag--top
          +flag-content

      +example("Aligned at bottom", ".flag--bottom")
        .flag--bottom
          +flag-content

      +example("Reversed order", ".flag--rev")
        .flag--rev
          +flag-content

    +block("Navigation", ".nav")

      +example
        ul.nav
          a.nav__item(href='#') Terms of Service
          a.nav__item.is-active(href='#') Privacy Policy
          a.nav__item(href='#') Support
          a.nav__item(href='#') About

      +example("Dots separated list", ".nav--dots")
        ul.nav--dots
          a.nav__item(href='#') Terms of Service
          a.nav__item.is-active(href='#') Privacy Policy
          a.nav__item(href='#') Support
          a.nav__item(href='#') About

      +example("Breadcrumbs", ".nav--breadcrumbs")
        ul.nav--breadcrumbs
          a.nav__item(href='#') Women
          a.nav__item(href='#') Clothing
          a.nav__item.is-active(href='#') Shirts

      +example("Pagination", ".nav--pagination")
        nav.nav--pagination
          a.nav__item--first(href="#") «
          a.nav__item--prev(href="#") ‹
          span.nav__item--dots ...
          a.nav__item(href="#") 11
          a.nav__item(href="#") 12
          a.nav__item.is-current(href="#") 13
          a.nav__item(href="#") 14
          a.nav__item(href="#") 15
          span.nav__item--dots ...
          a.nav__item--next(href="#") ›
          a.nav__item--last(href="#") »

      +example("Fill the entire width", ".nav--expand")
        ul.nav--expand.align--center
          a.nav__item(href='#') Terms of Service
          a.nav__item(href='#') Privacy Policy
          a.nav__item(href='#') Support
          a.nav__item(href='#') About

    +block("Webfont icons", ".icon")
      +example
        p
          i.icon--checkmark: span Semantic content
          i.icon--cross: span Semantic content
      +example("Different sizes", ".icon--(large|huge)")
        p
          i.icon--checkmark.icon--large
          i.icon--cross.icon--large
        p
          i.icon--checkmark.icon--huge
          i.icon--cross.icon--huge

    +block("Retina-ready sprites", ".sprite")
      +example
        .sprite--one
        | &nbsp;
        .sprite--two

      +example("Resizable sprites", "+sprite-size($sprite, $zoom)")
        .sprite--one.is-half-size

      +example("Centered sprite", ".sprite--center")
        .sprite--one.sprite--center.is-half-size

    +block("Or block", ".or")
      +example
        .or
          .or__item: .button.button--primary Submit
          .or__item or maybe
          .or__item: .button.button--alert Reset form

    +block("Off-canvas menu", ".canvas")
      +example
        div(style='position: relative; height: 300px; overflow: hidden;')
          .canvas
            .canvas__aside
              div(style='padding: 30px;')
                
                ul
                  li: a(href='#') Item 1
                  li: a(href='#') Item 2
                  li: a(href='#') Item 3
                  li: a(href='#') Item 4

                .space--top-2
                  a.button--small(href="#" data-class-toggle="is-shifted" data-element=".canvas") Close menu

            .canvas__main
              .formatted-content(style='padding: 30px;')
                +lorem(2)
                a.button(href="#" data-class-toggle="is-shifted" data-element=".canvas") Toggle menu

      +block("Modal dialog", ".dialog")

        +example
          a.button(href="#" data-class-toggle="is-active" data-element=".dialog") Click to open dialog

          #second-dialog.dialog
            .dialog__frame
              a.dialog__close(href="#" data-class-toggle="is-active" data-element=".dialog") Close
              .dialog__body
                .formatted-content
                  h6.beta Placeholder text
                  +lorem(5)

